<!-- Modified by the jiayun zh-TW fork: Taiwan Traditional Chinese translation and website adaptations. -->
<section class="os-banner">
    <header class="banner-head">
        <div class="banner-text-div">
            <span class="banner-text-header">OpenSearch 文件</span>
            <p class="banner-text-description">了解如何使用 OpenSearch：這套開放原始碼軟體具備高度擴充能力，可用於搜尋、分析、可觀測性及其他需要大量資料的應用。</p>
        </div>
        <div>
            <button id="contribute" class="btn-contribute"><span>參與翻譯<svg width="20" viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></span></button>
        </div>
    </header>
</section>   