<!-- Modified by the jiayun zh-TW fork: Taiwan Traditional Chinese translation and website adaptations. -->
<div class="home-card-container-wrapper">
  <p class="heading-main">OpenSearch 與 OpenSearch Dashboards</p>
  <div class="home-card-container">
    <div class="home-card">
      <a href="{{site.url}}{{site.baseurl}}/about/" class='card-link'></a>
        <div class="card-header">
          <div class="card-image">
            <img src="{{site.url}}{{site.baseurl}}/images/icons/OpenSearch-Core.png" alt="OpenSearch 文件圖示" />
          </div>
          <p class="heading">所有文件</p>
        </div>
        <p class="description">運用核心工具與視覺化功能，打造您的 OpenSearch 解決方案。</p>
        <p class="last-link">瀏覽文件 &#x2192;</p>
      </div>


    <div class="home-card">
      <a href="{{site.url}}{{site.baseurl}}/vector-search/" class='card-link'></a>
        <div class="card-header">
          <div class="card-image">
            <img src="{{site.url}}{{site.baseurl}}/images/icons/Vector-search-icon.avif" alt="向量搜尋圖示" />
          </div>
          <p class="heading">向量搜尋</p>
        </div>
        <p class="description">運用向量資料庫功能，取得更符合需求的搜尋結果。</p>
        <p class="last-link" >瀏覽文件 &#x2192;</p>
      </div>

    <div class="home-card">
      <a href="{{site.url}}{{site.baseurl}}/ml-commons-plugin/" class='card-link'></a>
        <div class="card-header">
          <div class="card-image">
            <img src="{{site.url}}{{site.baseurl}}/images/icons/OpenSearch-AI-1.png" alt="機器學習圖示" />
          </div>
          <p class="heading">機器學習</p>
        </div>
        <p class="description">整合機器學習模型，強化應用程式功能。</p>
        <p class="last-link">瀏覽文件 &#x2192;</p>
      </div>


    <div class="home-card">
      <a href="{{site.url}}{{site.baseurl}}/dashboards/" class='card-link'></a>
        <div class="card-header">
          <div class="card-image">
            <img src="{{site.url}}{{site.baseurl}}/images/icons/OpenSearch-Dashboards-Square.png" alt="OpenSearch Dashboards 圖示" />
          </div>
          <p class="heading">OpenSearch Dashboards</p>
        </div>
        <p class="description">透過互動式儀表板探索資料並呈現視覺化結果。</p>
        <p class="last-link">瀏覽文件 &#x2192;</p>
      </div>
  </div>
  
</div>

<div class="home-card-container-wrapper">
  <p class="heading-main">周邊工具</p>
  <div class="home-card-container">

    <div class="home-card">
      <a href="{{site.url}}{{site.latesturl}}/data-prepper/" class='card-link'></a>
        <div class="card-header">
          <div class="card-image">
            <img src="{{site.url}}{{site.baseurl}}/images/icons/OpenSearch-DataPrepper-1.png" alt="Data Prepper 圖示" />
          </div>
          <p class="heading">Data Prepper</p>
        </div>
        <p class="description">篩選、轉換及取樣資料，再匯入 OpenSearch。</p>
        <p class="last-link" >瀏覽文件 &#x2192;</p>
      </div>

    <div class="home-card">
      <a href="{{site.url}}{{site.latesturl}}/clients/" class='card-link'></a>
        <div class="card-header">
          <div class="card-image">
            <img src="{{site.url}}{{site.baseurl}}/images/icons/OpenSearch-Clients-Icon.avif" alt="用戶端圖示" />
          </div>
          <p class="heading">用戶端</p>
        </div>
        <p class="description">透過各程式語言的 API，在應用程式中與 OpenSearch 互動。</p>
        <p class="last-link">瀏覽文件 &#x2192;</p>
      </div>


    <div class="home-card">
      <a href="{{site.url}}{{site.latesturl}}/benchmark/" class='card-link'></a>
        <div class="card-header">
          <div class="card-image">
            <img src="{{site.url}}{{site.baseurl}}/images/icons/OpenSearch-PerformanceBenchmarks-Icon-1.png" alt="OpenSearch Benchmark 圖示" />
          </div>
          <p class="heading">OpenSearch Benchmark</p>
        </div>
        <p class="description">量測 OpenSearch 叢集的效能指標。</p>
        <p class="last-link">瀏覽文件 &#x2192;</p>
      </div>

    <div class="home-card">
      <a href="{{site.url}}{{site.latesturl}}/migration-assistant/" class='card-link'></a>
        <div class="card-header">
          <div class="card-image">
            <img src="{{site.url}}{{site.baseurl}}/images/icons/MigrationUpgrade_Color_Icon.svg" alt="Migration Assistant 圖示" />
          </div>
          <p class="heading">Migration Assistant</p>
        </div>
        <p class="description">簡化升級或移轉至 OpenSearch 的流程。</p>
        <p class="last-link">瀏覽文件 &#x2192;</p>
      </div>
  </div>
  
</div>
